---
// Footer component for Sea OKI Collection
---

<footer class="bg-dark text-light py-5 mt-5">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 mb-4">
				<h5 class="brand-text">Sea OKI Collection</h5>
				<p class="mb-3">
					Two beautiful, pet-friendly vacation homes in Oak Island,
					NC. Book directly and save!
				</p>
				<div class="d-flex gap-3">
					<a href="#" class="text-light" aria-label="Facebook">
						<i class="fab fa-facebook fa-lg"></i>
					</a>
					<a href="#" class="text-light" aria-label="Instagram">
						<i class="fab fa-instagram fa-lg"></i>
					</a>
					<a href="#" class="text-light" aria-label="Twitter">
						<i class="fab fa-twitter fa-lg"></i>
					</a>
				</div>
			</div>

			<div class="col-lg-2 col-md-6 mb-4">
				<h6>Properties</h6>
				<ul class="list-unstyled">
					<li>
						<a
							href="/properties/steps-to-the-sea"
							class="text-light text-decoration-none"
							>Steps to the Sea</a
						>
					</li>
					<li>
						<a
							href="/properties/down-by-the-sea"
							class="text-light text-decoration-none"
							>Down by the Sea</a
						>
					</li>
				</ul>
			</div>

			<div class="col-lg-2 col-md-6 mb-4">
				<h6>Quick Links</h6>
				<ul class="list-unstyled">
					<li>
						<a href="/about" class="text-light text-decoration-none"
							>About</a
						>
					</li>
					<li>
						<a href="/blog" class="text-light text-decoration-none"
							>Blog</a
						>
					</li>
					<li>
						<a
							href="/contact"
							class="text-light text-decoration-none">Contact</a
						>
					</li>
					<li>
						<a href="/book" class="text-light text-decoration-none"
							>Book Now</a
						>
					</li>
					<li>
						<a
							href="/policies"
							class="text-light text-decoration-none">Policies</a
						>
					</li>
				</ul>
			</div>

			<div class="col-lg-4 mb-4">
				<h6>Contact Info</h6>
				<address class="mb-0">
					<p class="mb-1">Oak Island, NC</p>
					<p class="mb-1">Email: info@seaokicollection.com</p>
					<p class="mb-0">Phone: (910) 555-0123</p>
				</address>
			</div>
		</div>

		<hr class="my-4" />

		<div class="row align-items-center">
			<div class="col-md-6">
				<p class="mb-0">
					&copy; {new Date().getFullYear()} Sea OKI Collection. All rights
					reserved.
				</p>
			</div>
			<div class="col-md-6 text-md-end">
				<small class="text-muted">
					<a href="/privacy" class="text-light text-decoration-none"
						>Privacy Policy</a
					> |
					<a href="/terms" class="text-light text-decoration-none"
						>Terms of Service</a
					>
				</small>
			</div>
		</div>
	</div>
</footer>

<!-- Font Awesome for social icons -->
<link
	rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
/>


<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
